.forget-container {
    color: rgb(66, 62, 62);
    position: fixed;
    top: 22%;
    left: 54%;
    transform: translateX(-50%); /* Centering the box horizontally */
    width: 25%;
    min-width: 300px; /* Ensure it doesn't get too small on narrow screens */
    height: 50%;
    padding: 30px 25px 25px;
    background-color: rgba(206, 204, 201, 0.884);
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding is included in the width */
  }
  
  .reset-text {
    margin: 10px;
    font-size: large;
    position:fixed;
    top: 1%;
    left: 16%;
    color: rgb(66, 62, 62);
  }
  
  .forget-container span {
    display: block; /* Ensures it takes its own line */
    color: #666;
    margin: 20px;
    text-align: center;
    line-height: 1.4;
  }
  
  .forget-container input {
    position: absolute;
    top: 34.5%;
    left: 20%;
    border-radius: 5px;
    margin-bottom: 50px;
    height: 20px;
  }

  .send-btn {
    position: fixed;
    top: 53%;
    left: 33%;
  }
  
  .remember-text {
    color: #007bff;
    cursor: pointer;
    margin: 10px;
    width: 198px;
    position: fixed;
    top: 75%;
    left: 16.5%;
  }
  
  .redirect {
    position: fixed;
    top: 88.5%;
    left: 37%;
  }

  .redirect:hover {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
  }


  