.register-container {
  color: rgb(66, 62, 62);
  position: fixed;
  top: 11%;
  left: 53%;
  transform: translateX(-50%); /* Centering the box horizontally */
  width: 25%;
  min-width: 18.75rem; /* Ensure it doesn't get too small on narrow screens */
  height: 80%;
  padding: 1.875rem 1.563rem 1.563rem;
  background-color: rgba(206, 204, 201, 0.884);
  border-radius: 0.313rem;
  box-sizing: border-box; /* Ensures padding is included in the width */
}

h1 {
  position: fixed;
  top: -1.5%;
  left: 20.5%;
  font-weight: 600;
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.063rem;
}

.separator-line3 {
  position: fixed;
  margin-left: -0.5%;
  top: 14%;
  left: 5.8%;
  width: 17.5rem;
  height: 0.081rem;
  background-color: grey;
}

.separator-line4 {
  position: fixed;
  margin-left: -0.5%;
  top: 72.3%;
  left: 5.8%;
  width: 17.5rem;
  height: 0.081rem;
  background-color: grey;
}

.reg-form {
  display: flex;
}

.label-email {
  position: fixed;
  top: 17%;
  left: 23.8%;
}

.email-input {
  position: fixed;
  top: 20.5%;
  left: 20%;
  border-radius: 0.313rem;
  height: 1.25rem;
}

.label-username {
  position: fixed;
  top: 32%;
  left: 24%;
}

.username-input {
  position: fixed;
  top: 35.5%;
  left: 20%;
  border-radius: 0.313rem;
  height: 1.25rem;
}

.label-password {
  position: fixed;
  left: 24%;
  top: 46%;
}

.password-input {
  position: fixed;
  top: 49.5%;
  left: 20%;
  border-radius: 0.313rem;
  height: 1.25rem;
}

.reg-btn {
  position: fixed;
  top: 58.5%;
  left: 31.5%;
  border-radius: 0.313rem;
}

.registered-box {
  color: rgb(66, 62, 62);
  position: fixed;
  top: 25%;
  left: 53%;
  transform: translateX(-50%); /* Centering the box horizontally */
  width: 40%;
  min-width: 18.75rem; /* Ensure it doesn't get too small on narrow screens */
  height: 30%;
  padding: 1.875rem 1.563rem 1.563rem;
  background-color: rgba(206, 204, 201, 0.884);
  border-radius: 0,313rem;
  box-sizing: border-box; /* Ensures padding is included in the width */
}

.suc-reg-text {
  position: fixed;
  top: 1%;
  left: 6.7%;
  font-size: large;
}

.suc-reg-email-text {
  position: fixed;
  font-size: small;
}

.suc-reg-redirect {
  position: fixed;
  top: 60%;
  left: 30%;
}

.border-line {
  position: fixed;
  top: 53.5%;
  left: 50%;
  transform: translateX(-50%); /* Centering the box horizontally */
  width: 26.875rem;
  min-width: 18.75rem; /* Ensure it doesn't get too small on narrow screens */
  height: 0.031rem;
  background-color: transparent;
  border:  rgb(66, 62, 62) 1px ridge;
  border-radius: 0.313;
  box-sizing: border-box; /* Ensures padding is included in the width */
}
