h2 {
    position: fixed;
    top: 5%;
    left: 5%;
    padding: 10px;
    border-left: 5px ridge black;
    background-color: rgba(206, 204, 201, 0.884);
    color: rgb(66, 62, 62);
    border-radius: 20px;
}

.morning-bg, .afternoon-bg, .evening-bg {
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    
}


.morning-bg {
    background-image: url("https://wallpapercave.com/wp/wp10712591.jpg")
}

.afternoon-bg {
    background-image: url("https://wallpaperbat.com/img/158678-summer-afternoon-farm-wallpaper.png");
}

.evening-bg {
    background-image: url("https://i.pinimg.com/originals/58/d1/4c/58d14c0991cfc1ec8c003438e9fd162b.jpg") 
}